@charset "UTF-8";

html, body{height: 100%;}

#wrap{height: 100%;}

/* header 영역 */
#header{
    width: 100%;
    height: 140px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: 0; top: 0;
}

.head_inner{
    width: 1168px;
    height: 100%;
    margin: 0 auto;
}

.logo{
    float: left;
    width: 106px;
    height: 93px;
    margin-top: 24px;
}

.nav{
    float: left;
    margin-left: 60px;
}

#header:hover .sub{display: block;}
#header:hover .sub_bg{display: block;}



.sub_bg{
    background-color: white;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 140px;
    left: 0;
    z-index: 5;
    display: none;
}

.main{}

.main>li{
    display: inline-block;
    position: relative;
    /* width: 200px; */
}

.main>li>a{
    display: block;
    /* width: 140px; */
    height: 140px;
    line-height: 140px;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
}

.main>li:hover>a{
    border-bottom: 3px solid rgb(255, 191, 0);
}


.sub{
    position: absolute;
    display: none;
    left: 0; top: 140px;
    width: 100%;
    z-index: 6;
}

.sub li{

}

.sub li a{
    display: block;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    color: tomato;
}

.sub li a:hover{
    text-decoration: underline;
}

.util{
    float: right;
    margin: 52px 0;
}

.util li{
    display: inline-block;
    margin-left: 10px;
}

.util li a{
    display: block;
    width: 80px;
    height: 36px;
    border-radius: 60px;
    line-height: 36px;
    font-size: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.util_1 a{background: #d90106;}

.util_2 a{background: #d88002;}

.util_3 a{background: #274a32;}

.util_4 a{
    background: url('../img/ico_search.png') no-repeat;
    background-position: center center;
    width: 36px; height: 36px;
    text-indent: -9999px;
}

/* section 영역 */
#section{
    width: 1920px;
    margin: 0 auto;
}


/* slide_img 영역 */
.slide_img{
    margin-top: 140px;
    height: 540px;
}


.live{
    width: 1168px;
    margin: 20px auto;
}

.title{
    font-size: 40px;
}

.live_list{margin-top: 30px;}

.live_list li{
    width: 366px;
    height: 438px;
    float: left;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 0 1px 5px rgba(75, 75, 75, 0.3);
    border: 1px solid rgba(75, 75, 75, 0.3);
    margin-bottom: 35px;
}

.live_list li a{}

.middle{
    margin: 0 35px;
}

.live_list li a .list_img{margin-bottom: 40px;}

.live_list li a .list_img img{width: 100%;}

.live_list li a h4{padding: 0 10px; font-size: 20px; letter-spacing: -1px;}



.dot{
    text-align: center;
    margin-bottom: 30px;
    }