@charset "UTF-8";
@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{margin: 0; padding: 0; box-sizing:border-box;}
a{text-decoration: none; color: inherit;}
ul, ol, li{list-style: none;}
img{vertical-align: bottom;}
table{border-collapse: collapse;}
body{font-family: 'LeferiPoint-WhiteObliqueA';}

.clear_fix::before, .clear_fix::after{
    content: "";
    display: block;
    clear: both;
}